<!-- Error page view -->

<div class="d-flex align-items-center justify-content-center vh-80 bg-danger">
    <h1 class="display fw-bold text-white"><i class="fa-solid fa-circle-xmark"></i> You are not allowed!!!
        <br>
        <i class="fa-solid fa-circle-xmark"></i>  Only Recruiter's are allowed to access this.
    </h1>
 
</div>

<div class="d-flex align-items-center justify-content-center margin" >
    <a href="/" class="btn btn-primary">Go Home</a>
</div>
<div class="d-flex align-items-center justify-content-center margin" >
    <a href="/new" class="btn btn-primary">Explore Jobs</a>
</div>
   



